#include <windows.h>
#include "resource.h"
#pragma code_page(65001)
1 RT_MANIFEST "app.manifest"
IDI_APP ICON "../assets/take-a-break.ico"

IDD_SETTINGS DIALOGEX 0, 0, 310, 221
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Take a Break - Settings"
FONT 9, "Microsoft YaHei UI"
BEGIN
    LTEXT "", IDC_SETTINGS_INTRO, 14, 12, 280, 14
    LTEXT "", IDC_INTERVAL_LABEL, 14, 38, 105, 14
    EDITTEXT IDC_INTERVAL, 125, 35, 65, 16, ES_NUMBER | WS_TABSTOP
    LTEXT "1 - 1440", -1, 202, 38, 90, 14
    LTEXT "", IDC_DURATION_LABEL, 14, 64, 105, 14
    EDITTEXT IDC_DURATION, 125, 61, 65, 16, ES_NUMBER | WS_TABSTOP
    LTEXT "1 - 3600", -1, 202, 64, 90, 14
    CONTROL "", IDC_HOURLY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 88, 270, 14
    CONTROL "", IDC_AUTOSTART, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 108, 270, 14
    LTEXT "", IDC_RUNNING_STATUS, 14, 130, 283, 16
    LTEXT "", IDC_SETTINGS_NOTICE, 14, 150, 283, 16
    LTEXT "", IDC_CONFIG_PATH, 14, 173, 283, 17, SS_PATHELLIPSIS
    DEFPUSHBUTTON "", IDOK, 178, 196, 55, 18
    PUSHBUTTON "", IDCANCEL, 242, 196, 55, 18
END

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "FileDescription", "起来歇会儿 / Take a Break\0"
      VALUE "ProductName", "Take a Break\0"
      VALUE "FileVersion", "0.1.0\0"
      VALUE "OriginalFilename", "TakeABreak.exe\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x804, 1200
  END
END
